{% extends 'base.html' %}
{% block title %}Comentarios{% endblock %}

{% block content %}
<div class="container">
    <h2>Entrada: {{post.post}}</h2>
    <p>Autor: {{post.author}}</p>
<h5><strong>Comentarios:</strong></h5>
{% for comment in comments %}
    <p style="margin: 0;"><strong>{{comment.author}}:</strong></p>
    <div class="container">
        <p style="margin: 0;">{{comment.comment}}</p>

    </div>
{% endfor %}

</div>
{% endblock %}