{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
  <h1>Entradas Recientes</h1>
    {% for post in posts%}
    <div class="card p-3 mt-3">
        
        <div class="card-body">
          {{post.post}}
          {% if post.author.id == request.user.id %}
            <a href="{% url 'posts_update' post.pk %} ">Actualizar</a>
            <a href="{% url 'posts_delete' post.pk %} ">Eliminar</a>
          {% endif %}
          <p>Autor: {{post.author}}</p>
        </div>
        
        <a href="{% url 'comments' post.pk %}">Ver cometarios..</a>
      </div>
    {% endfor %}

</div>
{% endblock %}