{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Actualizar Usuario{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Actualizar" class="btn btn-success">
    </form>

</div>


{% endblock %}