{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Entrar {% endblock %}
{% block content %}
<div class="container m-5 w-25" >
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Entrar" class="btn btn-success">
</form>
    <p>¿No tienes cuenta? <a href="{% url 'register_user' %}">Entra Aquí</a></p>
<div>

{% endblock %}