<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">LubtracBlog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'update_user' request.user.id %}">Mis Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_create'%}">Entradas</a>
          </li>


        </ul>
          <a href="{% url 'logout' %}" class="btn btn-outline-danger" type="submit">Salir</a>
      </div>
    </div>
  </nav>