{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registrar{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Registrar" class="btn btn-success">
    </form>
    <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Entra Aquí</a></p>

</div>
{% endblock %}